.slideOutTab {
	margin: 0;
	position: fixed;
	right: 0;
	top: 50%;
	margin-right: -250px;
	z-index: 9999;
}
.slideOutTab a,
.slideOutTab a:hover,
.slideOutTab a:active,
.slideOutTab a:focus {
	outline: 0;
}
.tabHeader {
	transform: rotate(-90deg);
	font-size: 20px;
	background-color: #003399;
	display: inline-block;
	margin: 0;
	padding: 10px 10px;
	border-radius: 5px 5px 0px 0px;
	margin-left: 33px;
	color: #FFFFFF;
}
.tabBody {
	background-color: #dbdbdb;
	color: #000000;
	position: relative;
	top: -90px;
	left: 100px;
	height: 220px;
	width: 340px;
	padding-top: 10px;
	padding-left: 10px;
}
.tabBodyShow {
	margin-right: 100px;
}
.tabBodyInner {
	padding-left: 20px;
	padding-right: 20px;
}
